{% extends 'base.html.twig' %}

{% block title %}Edit Blogentries{% endblock %}

{% block body %}
    <h1>Edit Blogentries</h1>

    {{ include('blogentries/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('blogentries_index') }}">back to list</a>

    {{ include('blogentries/_delete_form.html.twig') }}
{% endblock %}
